#home {
    background-image: url(images/home.png);
}

#comments {
    background-color: grey;
}

#referendum {
    background-color: grey;
}

#news {
    background-color: grey;
}

.home {
    font-size: 100px;
    color: #8c8c00;
}

.menu {
    font-size: 48px;
}
